<h1>Электронный библиотекарь</h1>
<ul>
    <li><a asp-controller="Book" asp-action="Books">Перейти в раздел работы с книгами</a></li>
    <li><a asp-controller="Readers" asp-action="Readers">Перейти в раздел работы с читателями</a></li>
    <li><a asp-controller="Management" asp-action="Management">Перейти в раздел выдачи книг</a></li>
</ul>