@model DataLibrary.Entities.Readers
@{
    ViewBag.Title = "Изменение читательского билета";
}
<form asp-action="Change" asp-controller="Readers" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="FIO" class="control-label">ФИО</label>
        <input type="text" asp-for="FIO" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DOB" class="control-label">Дата рождения</label>
        <input type="date" asp-for="DOB" class="form-control" />
    </div>
    
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>